<h2>HEROES</h2>
<ul class="heroes-list">
  <li class="hero">
    <div>
      <span> ID </span>
      <span> NAME </span>
    </div>
  </li>
  <li *ngFor = "let hero of heroes" (click)="onSelect(hero)" class="hero hero-{{hero.id}}">
    <div>
      <span> {{hero.id}} </span>
      <span> {{hero.name}} </span>
    </div>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>SELECTED HERO</h2>
  <h4>{{selectedHero.name | uppercase}} Details</h4>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>